.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-icon {
  position: absolute;
  top: 38px;
  left: 15px;
  color: #295baa; /* Adjust color if needed */
  font-size: 1rem;
  z-index: 10;
}

/* Add this to your CSS file (e.g., App.css) */
.toast-success-custom {
  background-color: #3cb371 !important; /* your custom green */
  font-size: 14px; /* smaller text */
  padding: 8px 12px; /* smaller padding */
  min-height: auto; /* smaller height */
  border-radius: 6px;
}
